
.card {
    width:275px;
    font-size: 24px;
}

.photo {
    width:100%;
    border-radius:10px;
}

.description {
    display :flex;
    flex-direction:row;
    height: 25px;
    padding: 5px;
    justify-content: flex-start;
}

.gray {
    color: #918E9B;
}

.bold{
    font-weight: bold;
}

p {
    margin-top: 20px;
}