section {
    padding: 90px;
}

.hero-main {
    display: flex;
    flex-direction: column;
}

.img-grid {
    max-width: 90%;
    align-self: center;
    
}

h1 {
    padding-top: 70px;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
}

p {
    text-size-adjust: auto;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}