.nav-main {
    display: flex;
    flex-direction:column;
   
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    display: flex;
    flex-direction: column;
    
    max-width: 189px;
}